services:

  api:
    build:
      context: ./api
    volumes:
      - ./api:/api
      - api-db-data:/api/db
    ports:
      - "3000:3000"
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails db:migrate && bundle exec rails db:seed && bundle exec rails server -b 0.0.0.0"
    environment:
      - RAILS_ENV=development
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/frontend
    ports:
      - "4200:4200"
    environment:
      - API_URL=http://api:3000
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  api-db-data:
    driver: local
